XMLSchemas/FED.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FEDRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="FED">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FeatureCtIdx" type="xs:short" />
							<xs:element minOccurs="0" name="Value" type="xs:unsignedByte" />
							<xs:element name="OffsetX" type="xs:float" />
							<xs:element name="OffsetY" type="xs:float" />
							<xs:element name="OffsetZ" type="xs:float" />
							<xs:element name="Heading" type="xs:float" />
						</xs:sequence>
						<xs:attribute name="Num" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>