XMLSchemas/PDX.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="floatThreePrec">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PDRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="PD">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="OffsetX" type="floatThreePrec" />
								<xs:element name="OffsetY" type="floatThreePrec" />
								<xs:element name="OffsetZ" type="floatThreePrec" />		
								<xs:element minOccurs="0" name="MaxHeight" type="floatThreePrec" />
								<xs:element minOccurs="0" name="MaxWidth" type="floatThreePrec" />
								<xs:element minOccurs="0" name="MaxLength" type="floatThreePrec" />
								<xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
								<xs:element minOccurs="0" name="Flags" type="xs:int" />
								<xs:element minOccurs="0" name="Heading" type="floatThreePrec" />								
								<xs:element minOccurs="0" name="RootIdx" type="xs:short" />
								<xs:element minOccurs="0" name="BranchIdx" type="xs:short" />
								<xs:element minOccurs="0" name="TaxiwayLetter" type="xs:unsignedByte" />
								<xs:element minOccurs="0" name="RunwayNumber" type="xs:int" />
								<xs:element minOccurs="0" name="RunwaySide" type="xs:unsignedByte" />
								<xs:element minOccurs="0" name="ParkingPointGroup" type="xs:int" />
								<xs:element minOccurs="0" name="CrossingPoint" type="xs:string" />
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="Num" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>