XMLSchemas/PHD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PHDRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="PHD">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ObjIdx" type="xs:short" />
							<xs:element name="Type" type="xs:unsignedByte" />
							<xs:element name="PointCount" type="xs:unsignedShort" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_0" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_1" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_2" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_3" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_4" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_5" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_6" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_7" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_8" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_9" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_10" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_11" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_12" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_13" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_14" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="FeatureDependencyIdx_15" type="xs:unsignedByte" />
							<xs:element minOccurs="0" name="Data" type="xs:float" />
							<xs:element name="FirstPtIdx" type="xs:unsignedShort" />
							<xs:element minOccurs="0" name="RunwayTexture" type="xs:short" />
							<xs:element minOccurs="0" name="RunwayNumber" type="xs:short" />
							<xs:element minOccurs="0" name="LandingPattern" type="xs:short" />
						</xs:sequence>
						<xs:attribute name="Num" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>