XMLSchemas/RCD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RCDRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="RCD">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" />
							<xs:element name="RwrSound" type="xs:int" />
							<xs:element name="RwrSymbol" type="xs:short" />
							<xs:element name="RadarDatIdx" type="xs:short" />
							<xs:element name="HighAltLethality" type="xs:float" />
							<xs:element name="LowAltLethality" type="xs:float" />
							<xs:element name="DetectionRange" type="xs:float" />
							<xs:element name="BeamWidth" type="xs:float" />
							<xs:element name="ScanWidth" type="xs:float" />
							<xs:element name="SweepRate" type="xs:float" />
							<xs:element name="CoastTime" type="xs:float" />
							<xs:element name="LookDownPenalty" type="xs:float" />
							<xs:element name="JammingPenalty" type="xs:float" />
							<xs:element name="NotchPenalty" type="xs:float" />
							<xs:element name="NotchSpeed" type="xs:float" />
							<xs:element name="ChaffChance" type="xs:float" />
							<xs:element name="Flags" type="xs:short" />
						</xs:sequence>
						<xs:attribute name="Num" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>