XMLSchemas/RKT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RKTRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="RKT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RocketPodIdx" type="xs:short" />
							<xs:element name="RocketWpnIdx" type="xs:short" />
							<xs:element name="RocketCount" type="xs:short" />
						</xs:sequence>
						<xs:attribute name="Num" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>