XMLSchemas/RWD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RWDRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="RWD">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" />
							<xs:element name="DetectionRange" type="xs:float" />
							<xs:element name="ScanAngleTop" type="xs:float" />
							<xs:element name="ScanAngleBottom" type="xs:float" />
							<xs:element name="ScanAngleLeft" type="xs:float" />
							<xs:element name="ScanAngleRight" type="xs:float" />
							<xs:element name="Flags" type="xs:short" />
						</xs:sequence>
						<xs:attribute name="Num" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>