XMLSchemas/SSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SSDRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="SSD">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="WpnStores_0" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_1" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_2" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_3" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_4" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_5" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_6" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_7" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_8" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_9" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_10" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_11" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_12" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_13" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_14" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_15" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_16" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_17" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_18" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_19" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_20" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_21" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_22" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_23" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_24" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_25" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_26" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_27" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_28" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_29" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_30" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_31" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_32" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_33" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_34" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_35" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_36" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_37" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_38" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_39" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_40" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_41" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_42" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_43" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_44" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_45" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_46" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_47" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_48" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_49" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_50" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_51" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_52" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_53" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_54" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_55" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_56" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_57" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_58" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_59" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_60" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_61" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_62" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_63" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_64" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_65" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_66" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_67" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_68" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_69" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_70" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_71" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_72" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_73" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_74" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_75" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_76" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_77" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_78" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_79" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_80" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_81" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_82" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_83" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_84" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_85" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_86" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_87" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_88" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_89" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_90" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_91" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_92" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_93" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_94" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_95" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_96" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_97" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_98" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_99" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_100" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_101" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_102" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_103" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_104" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_105" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_106" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_107" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_108" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_109" type="xs:unsignedByte" minOccurs="0" />	
								<xs:element name="WpnStores_110" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_111" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_112" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_113" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_114" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_115" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_116" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_117" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_118" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_119" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_120" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_121" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_122" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_123" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_124" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_125" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_126" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_127" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_128" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_129" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_130" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_131" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_132" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_133" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_134" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_135" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_136" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_137" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_138" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_139" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_140" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_141" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_142" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_143" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_144" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_145" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_146" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_147" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_148" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_149" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_150" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_151" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_152" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_153" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_154" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_155" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_156" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_157" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_158" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_159" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_160" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_161" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_162" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_163" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_164" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_165" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_166" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_167" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_168" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_169" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_170" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_171" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_172" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_173" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_174" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_175" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_176" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_177" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_178" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_179" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_180" type="xs:unsignedByte" minOccurs="0" />	
								<xs:element name="WpnStores_181" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_182" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_183" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_184" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_185" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_186" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_187" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_188" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_189" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_190" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_191" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_192" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_193" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_194" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_195" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_196" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_197" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_198" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_199" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_200" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_201" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_202" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_203" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_204" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_205" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_206" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_207" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_208" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_209" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_210" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_211" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_212" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_213" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_214" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_215" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_216" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_217" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_218" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_219" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_220" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_221" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_222" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_223" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_224" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_225" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_226" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_227" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_228" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_229" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_230" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_231" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_232" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_233" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_234" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_235" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_236" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_237" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_238" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_239" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_240" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_241" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_242" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_243" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_244" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_245" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_246" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_247" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_248" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_249" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_250" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_251" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_252" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_253" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_254" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_255" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_256" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_257" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_258" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_259" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_260" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_261" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_262" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_263" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_264" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_265" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_266" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_267" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_268" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_269" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_270" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_271" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_272" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_273" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_274" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_275" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_276" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_277" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_278" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_279" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_280" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_281" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_282" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_283" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_284" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_285" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_286" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_287" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_288" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_289" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_290" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_291" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_292" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_293" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_294" type="xs:unsignedByte" minOccurs="0" />								
								<xs:element name="WpnStores_295" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_296" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_297" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_298" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_299" type="xs:unsignedByte" minOccurs="0" />	
								<xs:element name="WpnStores_300" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_301" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_302" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_303" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_304" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_305" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_306" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_307" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_308" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_309" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_310" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_311" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_312" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_313" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_314" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_315" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_316" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_317" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_318" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_319" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_320" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_321" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_322" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_323" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_324" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_325" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_326" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_327" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_328" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_329" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_330" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_331" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_332" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_333" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_334" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_335" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_336" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_337" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_338" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_339" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_340" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_341" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_342" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_343" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_344" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_345" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_346" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_347" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_348" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_349" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_350" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_351" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_352" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_353" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_354" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_355" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_356" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_357" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_358" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_359" type="xs:unsignedByte" minOccurs="0" />	
								<xs:element name="WpnStores_360" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_361" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_362" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_363" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_364" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_365" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_366" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_367" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_368" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_369" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_370" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_371" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_372" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_373" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_374" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_375" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_376" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_377" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_378" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_379" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_380" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_381" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_382" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_383" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_384" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_385" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_386" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_387" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_388" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_389" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_390" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_391" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_392" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_393" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_394" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_395" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_396" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_397" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_398" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_399" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_400" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_401" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_402" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_403" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_404" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_405" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_406" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_407" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_408" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_409" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_410" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_411" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_412" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_413" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_414" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_415" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_416" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_417" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_418" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_419" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_420" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_421" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_422" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_423" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_424" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_425" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_426" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_427" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_428" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_429" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_430" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_431" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_432" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_433" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_434" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_435" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_436" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_437" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_438" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_439" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_440" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_441" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_442" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_443" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_444" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_445" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_446" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_447" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_448" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_449" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_450" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_451" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_452" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_453" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_454" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_455" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_456" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_457" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_458" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_459" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_460" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_461" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_462" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_463" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_464" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_465" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_466" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_467" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_468" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_469" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_470" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_471" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_472" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_473" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_474" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_475" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_476" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_477" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_478" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_479" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_480" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_481" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_482" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_483" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_484" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_485" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_486" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_487" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_488" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_489" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_490" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_491" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_492" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_493" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_494" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_495" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_496" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_497" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_498" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_499" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_500" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_501" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_502" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_503" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_504" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_505" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_506" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_507" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_508" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_509" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_510" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_511" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_512" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_513" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_514" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_515" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_516" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_517" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_518" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_519" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_520" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_521" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_522" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_523" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_524" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_525" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_526" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_527" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_528" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_529" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_530" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_531" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_532" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_533" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_534" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_535" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_536" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_537" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_538" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_539" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_540" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_541" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_542" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_543" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_544" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_545" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_546" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_547" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_548" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_549" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_550" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_551" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_552" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_553" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_554" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_555" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_556" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_557" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_558" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_559" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_560" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_561" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_562" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_563" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_564" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_565" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_566" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_567" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_568" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_569" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_570" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_571" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_572" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_573" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_574" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_575" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_576" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_577" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_578" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_579" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_580" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_581" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_582" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_583" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_584" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_585" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_586" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_587" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_588" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_589" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_590" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_591" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_592" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_593" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_594" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_595" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_596" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_597" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_598" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_599" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_600" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_601" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_602" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_603" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_604" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_605" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_606" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_607" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_608" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_609" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_610" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_611" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_612" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_613" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_614" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_615" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_616" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_617" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_618" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_619" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_620" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_621" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_622" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_623" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_624" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_625" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_626" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_627" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_628" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_629" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_630" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_631" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_632" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_633" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_634" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_635" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_636" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_637" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_638" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_639" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_640" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_641" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_642" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_643" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_644" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_645" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_646" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_647" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_648" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_649" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_650" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_651" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_652" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_653" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_654" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_655" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_656" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_657" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_658" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_659" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_660" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_661" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_662" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_663" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_664" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_665" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_666" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_667" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_668" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_669" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_670" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_671" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_672" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_673" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_674" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_675" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_676" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_677" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_678" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_679" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_680" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_681" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_682" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_683" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_684" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_685" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_686" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_687" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_688" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_689" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_690" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_691" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_692" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_693" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_694" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_695" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_696" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_697" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_698" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_699" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_700" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_701" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_702" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_703" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_704" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_705" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_706" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_707" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_708" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_709" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_710" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_711" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_712" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_713" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_714" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_715" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_716" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_717" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_718" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_719" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_720" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_721" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_722" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_723" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_724" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_725" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_726" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_727" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_728" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_729" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_730" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_731" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_732" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_733" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_734" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_735" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_736" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_737" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_738" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_739" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_740" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_741" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_742" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_743" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_744" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_745" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_746" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_747" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_748" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_749" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_750" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_751" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_752" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_753" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_754" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_755" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_756" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_757" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_758" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_759" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_760" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_761" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_762" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_763" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_764" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_765" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_766" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_767" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_768" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_769" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_770" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_771" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_772" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_773" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_774" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_775" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_776" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_777" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_778" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_779" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_780" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_781" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_782" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_783" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_784" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_785" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_786" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_787" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_788" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_789" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_790" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_791" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_792" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_793" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_794" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_795" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_796" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_797" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_798" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_799" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_800" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_801" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_802" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_803" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_804" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_805" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_806" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_807" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_808" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_809" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_810" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_811" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_812" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_813" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_814" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_815" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_816" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_817" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_818" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_819" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_820" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_821" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_822" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_823" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_824" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_825" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_826" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_827" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_828" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_829" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_830" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_831" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_832" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_833" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_834" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_835" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_836" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_837" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_838" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_839" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_840" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_841" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_842" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_843" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_844" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_845" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_846" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_847" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_848" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_849" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_850" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_851" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_852" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_853" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_854" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_855" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_856" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_857" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_858" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_859" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_860" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_861" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_862" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_863" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_864" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_865" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_866" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_867" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_868" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_869" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_870" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_871" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_872" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_873" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_874" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_875" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_876" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_877" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_878" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_879" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_880" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_881" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_882" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_883" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_884" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_885" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_886" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_887" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_888" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_889" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_890" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_891" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_892" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_893" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_894" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_895" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_896" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_897" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_898" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_899" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_900" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_901" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_902" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_903" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_904" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_905" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_906" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_907" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_908" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_909" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_910" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_911" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_912" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_913" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_914" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_915" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_916" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_917" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_918" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_919" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_920" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_921" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_922" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_923" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_924" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_925" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_926" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_927" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_928" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_929" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_930" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_931" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_932" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_933" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_934" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_935" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_936" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_937" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_938" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_939" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_940" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_941" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_942" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_943" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_944" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_945" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_946" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_947" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_948" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_949" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_950" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_951" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_952" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_953" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_954" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_955" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_956" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_957" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_958" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_959" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_960" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_961" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_962" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_963" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_964" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_965" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_966" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_967" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_968" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_969" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_970" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_971" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_972" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_973" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_974" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_975" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_976" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_977" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_978" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_979" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_980" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_981" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_982" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_983" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_984" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_985" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_986" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_987" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_988" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_989" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_990" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_991" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_992" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_993" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_994" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_995" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_996" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_997" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_998" type="xs:unsignedByte" minOccurs="0" />
								<xs:element name="WpnStores_999" type="xs:unsignedByte" minOccurs="0" />
								
								<xs:element name="InfiniteAG" type="xs:short" />
								<xs:element name="InfiniteAA" type="xs:short" />
								<xs:element name="InfiniteGun" type="xs:short" />

								
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="Num" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>